.container {
  flex-direction: column;
}
input {
  padding: 10px;
  margin: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 12px 20px;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

h3 {
  border: 1px solid #ccc;
}
